* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f1f3;
}

.form {
    display: flex;
    align-items: center;
}

.form-header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header {
    background-color: white;
}

.hello {
    display: flex;
    align-items: center;
    margin-right: 15px;
    gap: 5px;
}

.other-google-application svg {
    width: 20px;
    height: auto;
    color: #a5a6a7;
    cursor: pointer;
}

.form-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 15px;
    cursor: pointer;
}

.form-icon a {
    text-decoration: none;
}

.form-icon img {
    width: auto;
    height: 35px;
    cursor: pointer;
}

.form input {
    font-size: 20px;
    color: #5f6368;
    opacity: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
}

.form input:focus {
    outline: none;
}

.links {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 5px;
}

.links h5 {
    font-size: 12px;
    font-weight: 100;
    color: #5f6368;
    cursor: pointer;
}

/* creating a form */

.container {
    background: #a09c9c52;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vw;
}

.create-form {
    background: white;
    width: 55%;
    height: max-content;
    margin-top: 20px;
    padding: 2%;
    position: relative;
    border-radius: 10px;
}

.create-form h3 {
    font-size: medium;
    position: relative;
}

.create-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #673ab7;
    z-index: 22;
    border-radius: 7px 7px 0 0;
}

.create-form::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background-color: #4285f4;
    border-radius: 10px 0 0 10px;
    visibility: hidden;
}

.form-description::after,
.title-description::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background-color: #4285f4;
    border-radius: 10px 0 0 10px;
    visibility: hidden;
}

.form-description {
    display: flex;
    flex-direction: column;
}

.title {
    max-width: fit-content;
    margin-left: 20px;
}

.title input {
    width: 100%;
}

.form-description input,
.title-description input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(134, 130, 130, 0.459);
    margin: 15px 0;
    margin-bottom: 5px;
}

.title-description input {
    font-size: 30px;
    padding-bottom: 10px;
}

.form-description input:focus,
.title-description input:focus {
    outline: none;
    border-bottom: 2px solid #673ab7;
}

/* creating dynamic sidebar */
.question-section::before {
    content: '';
    background: none;
}

.question-focused::after {
    visibility: visible;
}

.focused::after {
    visibility: visible;
}

/* Creating title underline dynamically */

.title-underline {
    background-color: #673ab7;
    height: 2px;
    transform: scaleX(0);
    opacity: 0;
    transition: opacity 300ms, transform 0ms 300ms;
}

.title-focused .title-underline {
    opacity: 1;
    transform: scaleX(1);
    transition: opacity 0ms, transform 300ms;

}

/*Daynamic Container for formatting text design */

.daynamic-textformat-div {
    display: flex;
    align-items: center;
    margin-left: 10px;
    transition: height 0.5s, overflow 0.5s;
    transition-behavior: allow-discrete;
    height: 34px;
    overflow: visible;
}

.hide {
    height: 0px;
    overflow: hidden;
}

.daynamic-textformat-div i {
    color: #5f6368;
    padding: 6px 10px;
    margin: 0 5px;
    font-size: 16px;
    position: relative;
}

.daynamic-textformat-div .svg-container {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    margin: 0 5px;
    position: relative;
}

.daynamic-textformat-div i:hover {
    color: black;
    cursor: pointer;
}

.daynamic-textformat-div svg:hover {
    fill: #000;
}

.daynamic-textformat-div .svg-container:hover {
    cursor: pointer;
}

.daynamic-textformat-div i,
.daynamic-textformat-div .svg-container {
    position: relative;
}

/* .daynamic-textformat-div i::after,
.daynamic-textformat-div .svg-container::after {
    content: attr(data-tooltip);
    position: absolute;
    font-family: sans-serif;
    top: -34px;
    left: 50%;
    transform: translateX(-50%) translateY(30px);
    background-color: #00000088;
    color: #fff;
    padding: 7px;
    white-space: pre;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 700;
    transition: transform 0.4s;
    opacity: 0;

} */

.daynamic-textformat-div i:hover::after,
.daynamic-textformat-div .svg-container:hover::after {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}




/* tooltip */
.feather {
    pointer-events: none;
}

.tooltip {
    pointer-events: none;
    font-family: sans-serif;
    position: absolute;
    display: inline-block;
    bottom: 100%;
    left: 50%;
    translate: -50%;
    font-size: 10px;
    background-color: rgba(97, 97, 97, 0.902);
    font-style: normal;
    color: #fff;
    padding: 5px 8px 6px;
    font-weight: 500;
    white-space: nowrap;
    transition: opacity 0.3s, translate 0.3s;
}