* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f1f3;
}

.form {
    display: flex;
    align-items: center;
}

.form-header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

header {
    background-color: white;
}


.hello {
    display: flex;
    align-items: center;
    margin-right: 15px;
    gap: 5px;

}

.other-google-application svg {
    width: 20px;
    height: auto;
    color: #a5a6a7;
    cursor: pointer;
}

.form-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 15px;
    cursor: pointer;

}

.form-icon a {
    text-decoration: none;
}

.form-icon img {
    width: auto;
    height: 35px;
    cursor: pointer;
}

.form input {
    margin-left: 20px;
    font-size: 20px;
    color: #5f6368;
    opacity: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
}

.form input:focus {
    outline: none;
}

.links {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 5px;

}

.links h5 {
    font-size: 12px;
    font-weight: 100;
    color: #5f6368;
    cursor: pointer;
}

/* creating a form */
.container {
    background: #a09c9c52;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vw;
}

.create-form {
    background: white;
    width: 55%;
    height: max-content;
    margin-top: 20px;
    padding: 2%;
    position: relative;
    border-radius: 10px;
}


.create-form h3 {
    font-size: medium;
    position: relative;

}

.create-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #673ab7;
    z-index: 22;
    border-radius: 7px 7px 0 0;

}

.create-form::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background-color: #4285f4;
    border-radius: 10px 0 0 10px;
    visibility: hidden;
}




.form-description::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background-color: #4285f4;
    border-radius: 10px 0 0 10px;
    visibility: hidden;
}



.form-description {
    display: flex;
    flex-direction: column;

}

.form-description input {
    border: none;
    border-bottom: 1px solid rgba(134, 130, 130, 0.459);
    margin: 15px 0;
    margin-bottom: 5px;

}

.form-description input:first-child {
    font-size: 30px;
    padding-bottom: 10px;
}

.form-description input:focus {
    outline: none;
    border-bottom: 2px solid #673ab7;

    transition: border-bottom 1s ease-in-out;
    /* animation: border-grow 400ms ease-in-out; */
}



/* creating dynamic sidebar */
.question-section::before {
    content: '';
    background: none;
}



.question-focused::after {
    visibility: visible;
}

.focused::after {
    visibility: visible;
}

/* Creating title underline dynamically */

.title-underline {
    background-color: #673ab7;
    height: 1.2px;
    margin-left: 20px;
    visibility: hidden;
}

.title-focused .title-underline {
    visibility: visible;
}